<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <title>Socket Testing</title>
  </head>
  <body>
    <%- body %>

    <!-- included by sockets -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- my js that will talk to sockets -->
    <script src="/js/main.js"></script>
  </body>
</html>